body, html {
    height: 100%;
    width: 100%;
}

/* POSITION */
.right {text-align: right}
.left {text-align: left}
.center {text-align: center}
.padd {padding: 3% 5% }

/* SIZE */
.smallest {font-size: .8em;}

.normal {font-size: .8em;}
.big {font-size: 1em; font-weight: 200;}
.bigger {font-size: 2em; font-weight: 400;}
.biggest {font-size: 4em; font-weight: 800;}

.bold {font-weight: 200}
.bolder {font-weight: 400}
.boldest {font-weight: 800}

/*  */
body {
    /* overflow-x: hidden; */
}
.full-background {
    background-image: url("../images/background-images/bg2.jpeg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-container-left {margin-left: 2em;}
.content-container-right {margin-right: 2em;}
.data {margin-bottom: 2em;}
.data-date {width: 100%; height: 2em; background-color: red; padding: 2px}
.div-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}